.section {
    font-family: 'Staatliches', cursive;
    background-color:#641635;
    text-shadow: 1px 1px 1px white; 
    font-size: 60px;
    margin-left: 10px;
}

* {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.TC0lNF17deubfzmsP1frBwHaE8%26pid%3DApi&f=1);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 700px 200px;
    background-size: 500px 375px;
    background-color: #ce8e04;
    
}

.ingredients {
    font-family: 'Bebas Neue', cursive;
    background-color: #641635;
}

.steps {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: larger;
    text-align: left;
}


   
}
footer a h5
{
    background-color: #c68958 !important;
    color: #641635;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

